body{
    margin: 0px;
}
.title{
    text-align: center;
    background-color:#6d7993;
    color: white;
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
    margin-bottom: 20px;
}
.content{
    background-color:#cde9d6;
    margin: 0 auto;
    padding: 5px;
    width: 70%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article{
    text-align: left;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    margin: 2px;
}
.picture{
    flex:none;
    width: 10%;
}
.text{
    flex:auto;
}
.topic{
    font-weight:bold;
    border: 1px solid black;
}
p {
    text-indent: 2em;
    margin-block-start: 5px;
    margin-inline-start:8px;
    margin-bottom: 5px;
    margin-right:5px;
    text-align:justify;
}

img{
    max-width:100%; height:auto; align:left; 
}
li{
    padding-left: 8px;
}
ul{
    margin: 5px 5px 5px 20px;
}
ol{
    margin: 5px 5px 5px 20px;
}

@media(max-width:1000px){
    .content{
        font-size: 20px;
    }
    .article{
        font-size: 16px;
    }
    .title{
        font-size: 30px;
    }
   
}
@media(max-width:500px){
    .content{
        font-size: 16px;
    }
    .article{
        font-size: 14px;
    }
    .title{
        font-size: 26px;
    }

}

